<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>
                    <span class="title font-weight-bold">PEC Tracker & Advisor</span>
                </a>
            </li>
            <li>
                <a routerLink="/dashboard">
                    <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/add-devices">
                    <span class="icon"><i class="fa fa-laptop" aria-hidden="true"></i></span>
                    <span class="title">Your Devices</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                    <span class="title">Help</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
                    <span class="title">Settings</span>
                </a>
            </li>
            <li>
                <a class="logoutBtn" (click) = "logout()">
                    <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                    <span class="title">Sign out</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="topbar">
            <div class="user">
                <span class="fa fa-user p-2 mb-1"></span>
                <span class="p-2 font-weight-bold">Hi there, <b>{{fullName}}</b></span>
                
            </div>
        </div>
        <div class="cardBox">
            <div class="card"> 
                <div>
                    <div class="numbers">1,042</div>
                    <div class="cardName">Total energy consumed</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card"> 
                <div>
                    <div class="numbers">80</div>
                    <div class="cardName">kWh produced</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card"> 
                <div>
                    <div class="numbers">208</div>
                    <div class="cardName">TEST</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-comment" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card"> 
                <div>
                    <div class="numbers">$6,042</div>
                    <div class="cardName">TEST</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Recent Devices</h2>
                    <a routerLink="/add-devices" class="btn">View All</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Payment</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Star Refrigerator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>
                        <tr>
                            <td>Window Coolers</td>
                            <td>$110</td>
                            <td>Due</td>
                            <td><span class="status pending">Pending</span></td>
                        </tr>
                        <tr>
                            <td>Speakers</td>
                            <td>$620</td>
                            <td>Paid</td>
                            <td><span class="status return">Return</span></td>
                        </tr>
                        <tr>
                            <td>Hp Laptop</td>
                            <td>$6000</td>
                            <td>Due</td>
                            <td><span class="status inprogress">In Progress</span></td>
                        </tr>
                        <tr>
                            <td>Star Refrigerator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>
                        <tr>
                            <td>Window Coolers</td>
                            <td>$110</td>
                            <td>Due</td>
                            <td><span class="status pending">Pending</span></td>
                        </tr>
                        <tr>
                            <td>Speakers</td>
                            <td>$620</td>
                            <td>Paid</td>
                            <td><span class="status return">Return</span></td>
                        </tr>
                        <tr>
                            <td>Apple Watch</td>
                            <td>$680</td>
                            <td>Due</td>
                            <td><span class="status inprogress">In Progress</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="weatherMain"> 
                <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
                    <i class="fas fa-3x fa-sun sun"></i>
                </div>
                <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
                    <i class="fas fa-3x fa-moon moon"></i>
                </div>
                <div class="weatherWidgetRow cloudDiv">
                    <i class="fas fa-3x fa-cloud cloud"></i>
                </div>
                <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{WeatherData.temp_celcius}}°</div>
                <div class="weatherWidgetRow" style="font-size: 18px;">{{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°</div>
                <div class="weatherWidgetRow" style="font-size: 18px;">Feels Like: {{WeatherData.temp_feels_like}}°</div>
                <div class="weatherWidgetRow" style="font-size: 35px;margin-top: 10px;">{{WeatherData.name}}</div>
                <div class="weatherWidgetRow" style="font-size: 18px;">Humidity: {{WeatherData.main.humidity}}%</div>
            </div>
        </div>
    </div>
</div>