<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a routerLink="/dashboard">
                    <span class="icon"><i class="fa fa-lightbulb" aria-hidden="true"></i></span>
                    <span class="title font-weight-bold">PEC Tracker & Advisor</span>
                </a>
            </li>
            <li>
                <a routerLink="/dashboard">
                    <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/add-devices">
                    <span class="icon"><i class="fa fa-laptop" aria-hidden="true"></i></span>
                    <span class="title">Your Devices</span>
                </a>
            </li>
            <li *ngIf="isUserProsumer">
                <a routerLink="/prosumer">
                    <span class="icon"><i class="fa-solid fa-solar-panel" aria-hidden="true"></i></span>
                    <span class="title">Prosumer</span>
                </a>
            </li>
            <li>
                <a routerLink="/help-page">
                    <span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                    <span class="title">Help</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
                    <span class="title">Settings</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                    <span class="title">Sign out</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main">
        <div class="row">
            <div class="details">
                <div class="recentDevices">
                    <div class="cardHeader">
                        <h2>Your Devices</h2>
                    </div>
                    <div class="col-md-4">
                        <button (click)="openAddDeviceModal()" data-toggle="modal" data-target="#addDeviceModal" class="btn btn-primary">Add New Device</button>
                    </div>
                    <table>

                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Base consumption</th>
                                <th>Hours used</th>
                                <th>Usage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let device of userDevices | paginate: { itemsPerPage: 5, currentPage: currentPage }">
                                <td>{{ device.name }}</td>
                                <td>{{ device.consumption }}W</td>
                                <td>{{ device.hoursUsed }}</td>
                                <td><span [ngClass]="'status ' + device.usageString">{{ device.usageString }}</span>
                                </td>
                                <td><button (click)="deleteDevice(device)" class="btn btn-danger">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                </div>
                <div class="mt-4 ml-4 d-flex text-center">
                    <div id="categoryChartDiv">
                        <canvas id="categoryChart"></canvas>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDeviceModal" tabindex="-1" role="dialog" aria-labelledby="addDeviceModalLabel" aria-hidden="true" [ngClass]="{'show': isAddDeviceModalOpen}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Device</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="addDeviceForm">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <select class="form-control custom-select" id="deviceName" formControlName="name">
                                <option value="">Select Device</option>
                                <option *ngFor="let device of getDeviceNames()" [value]="device">{{ device }}</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <input type="text" style="display:none;" class="form-control" formControlName="userId">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="closeAddDeviceModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeAddDeviceModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="addDevice()">Add Device</button>
            </div>
        </div>
    </div>
</div>